* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(218, 28%, 13%);
    color: white;
}
header {
    background-color: hsl(217, 28%, 15%);
    background-image: url(../images/bg-curvy-desktop.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 120px;
}
nav    {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
ul {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
ul li {
    text-decoration: none;
    list-style: none;
}
ul li:hover {
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
.illustration {
    display: block;
    margin: 10px auto 10px;
}
h1 {
    margin: 30px auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 60%;
    font-size: 45px;
}
header p {
    width: 45%;
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
}
.btn {
    background-image: linear-gradient(to right, #65e2d9, #339ecc);
    margin: 20px auto 0;
    text-align: center;
    display: block;
    padding: 15px 100px;
    border-radius: 40px;
    border: none;
}
.btn:hover {
    background-image: linear-gradient(to right, #65e2d9, #65e2d9);
    cursor: pointer;
}
.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 65%;
    margin: 0px auto 100px;
}
.box1 {
    display: block;
    text-align: center;
    padding: 10px 30px;
    margin: 30px 0;
}
.box1 h6 {
    margin: 20px auto 10px;
    font-size: 16px;
    font-weight: 700;
}
.box1 p {
    font-size: 14px;
}
.box1 img {
    height: 80px;
}
.feature2 {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto 50px;
    gap: 50px;
}
.feature2 h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 20px;
}
.feature2 p {
    font-size: 14px;
    margin-bottom: 20px;
}
.feature2 a {
    border-bottom: 1px solid #65e2d9;
    text-decoration: none;
    padding-bottom: 4px;
    color: #65e2d9;
}
.feature2 a:hover {
    color: white;
    border-bottom: 1px solid white;
}
.reviews {
    background-image: url(../images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position-y: 120px;
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
    padding: 150px 10px;
    gap: 40px;
}
.review {
    background-color: hsl(219, 30%, 18%);
    font-size: 14px;
    padding: 35px 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.205);
}
.review img {
    width: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
}
.profiles {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
h5 {
    font-weight: 400;
}
.contact1 {
    background-image: linear-gradient(hsl(218, 28%, 13%) 50%, hsl(216, 53%, 9%) 50%);
}
.contact {
    width: 50%;
    margin: 0 auto;
    background-color: hsl(217, 28%, 15%);
    text-align: center;
    padding: 30px 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.205);
}
.contact h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}
.contact p {
    width: 80%;
    font-size: 14px;
    margin: 0 auto 25px;
}
.submitbtn {
    background-image: linear-gradient(to right, #65e2d9, #339ecc);
    text-align: center;
    display: block;
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: white;
}
.submitbtn:hover {
    background-image: linear-gradient(to right, #65e2d9, #65e2d9);
    cursor: pointer;
}
.emailinput {
    background-image: white;
    text-align: left;
    display: block;
    padding: 15px 20px;
    border-radius: 40px;
    border: none;
    width: 350px;
}
form {
    display: flex;
    justify-content: center;
    gap: 20px;
}
footer {
    background-color: hsl(216, 53%, 9%);
    padding: 7.5%;
}
.contactinfo {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.location {
    display: flex;
    width: 30%;
}
.location img {
    margin-right: 5px;
    align-self: flex-start;
    padding-top: 5px;
}
.contactdetails {
    width: 20%;
}
.contactdetails p {
    margin-left: 20px;
}
.phone, .email {
    display: flex;
    padding-bottom: 10px;
}
.phone img, .email img {
    align-self: center;
}
.footermenu {
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.footermenu ul {
    display: block;
    width: 50%;
}
.footermenu ul li {
    padding-bottom: 10px;
}
.footermenu ul li:hover {
    font-weight: 700;
    text-decoration: underline;
}
.social {
    justify-content: space-around;
    align-items: flex-start;
    display: flex;
    width: 8%;
    filter: #ffffff;
}
.fb {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(14deg) brightness(112%) contrast(103%);
}
.fb:hover {
    filter: invert(76%) sepia(25%) saturate(676%) hue-rotate(127deg) brightness(97%) contrast(100%);
    cursor: pointer;
}
@media only screen and (max-width: 375px) {
    nav {
        padding: 20px;
    }
    .logo {
        width: 30%;
        align-self: center;
    }
    ul {
        width: 50%;
    }
    ul li {
        font-size: 13px;
    }
    .illustration {
        width: 80%;
        margin-top: 30px;
    }
    h1 {
        font-size: 25px;
        width: 90%;
        margin: 40px auto;
        background-image: url(../images/bg-curvy-desktop.svg);
    }
    header p {
        width: 90%;
        font-size: 15px;
    }
    .btn {
        padding: 15px 80px;
    }
    .features {
        grid-template-columns: 1fr;
        width: 90%;
        font-size: 15px;
    }
    .feature2 {
        display: block;
    }
    .illustration2 {
        width: 100%;
    }
    .feature2 h2 {
        font-size: 16px;
    }
    .feature2 p {
        font-size: 13px;
    }
    .feature2 a {
        font-size: 12px;
    }
    .reviews {
        display: block;
    }
    .review {
        margin-bottom: 20px;
    }
    .contact {
        width: 90%;
    }
    .contact h2 {
        font-size: 16px;
    }
    .contact p {
        font-size: 13px;
    }
    form {
        display: block;
    }
    .submitbtn {
        width: 80%;
        margin: 0 auto;
    }
    .emailinput {
        width: 67%;
        margin: 0 auto 20px;
    }
    .contactinfo {
        display: block;
        margin: 30px auto 20px;
    }
    footer {
        padding-top: 50px;
    }
    .location {
        width: 100%;
    }
    .location p {
        margin-left: 20px;
        padding-bottom: 10px;
    }
    .contactdetails {
        width: 100%;
        margin-bottom: 60px;
    }
    .contactinfo p {
        font-size: 15px;
    }
    .footermenu {
        display: block; 
        width: 100%;
        margin-bottom: 40px;
    }
    .footermenu ul {
        padding-bottom: 15px;
    }
    .footermenu ul li {
        font-size: 15px;
    }
    .social {
        width: 100%;
        justify-content: center;
    }
    .fb {
        padding: 5px;
    }
    header {
        background-image: url(../images/bg-curvy-desktop.svg), linear-gradient(hsl(217, 28%, 15%) 55%, hsl(218, 28%, 13%) 45%);
        background-size: 120%;
        background-position: center;
    }
}
